In [1]:
print("reccy")

reccy

In [2]:
x = 20
print(x)

20

In [4]:
print(type(x))

<class 'int'>

In [6]:
my_name = "reccy"
print(my_name)
print(type(my_name))

reccy
<class 'str'>

In [8]:
countries = ['kenya', 'uganda', 'poland', 'jamaica']
for c in countries:
    print(c)

kenya
uganda
poland
jamaica

In [11]:
for c in countries:
    print(c)
    if c == 'kenya':
        print("this is my country")

kenya
this is my country
uganda
poland
jamaica

In [12]:
Student1 = {
    'name': 'asingwa',
    'index_number' : '20203'
}

In [13]:
print("my name is", Student1['name'])

my name is asingwa

In [16]:
class Student:
    def __init__(self, name, index_number):
        self.name = name
        self.index_number = index_number

In [25]:
student1 = Student ('Pinky', '20204')
student2 = Student ('Rey', '20205')
student3 = Student ('Sasha', '20206')

In [28]:
print(student3.name)
print(student2.name,student2.index_number)

Sasha
Rey 20205