## one on one practice

In [5]:
print("reccy")

reccy

Variable with Set Value

In [6]:
x = (7)

In [7]:
print(x)

7

In [8]:
print(type(x))

<class 'int'>

In [11]:
My_Name = ("reccy")

In [13]:
print(My_Name)

reccy

In [12]:
print(type(My_Name))

<class 'str'>

In [14]:
Girls = ["Reccy", "Theodora", "Shaniqwa", "Betty"]

In [15]:
for g in Girls:
    print(g)

Reccy
Theodora
Shaniqwa
Betty

In [16]:
for g in Girls:
    print(g)
    if g == 'Reccy':
        print('This girl is gorgious')

Reccy
This girl is gorgious
Theodora
Shaniqwa
Betty

dictionary

In [29]:
Student1 = {
    'name':'Pinky Gilani',
    'admission_number':'2022'
}

In [31]:
print("My name is", Student1 ['name'], Student1['admission_number'])

My name is Pinky Gilani 2022

In [36]:
Mountain_1 = {
    'name' : 'Morske Oko',
    'height_altitude' : '1500m'
}

In [38]:
print(Mountain_1 ['name'], "is perfect for camping at",Mountain_1['height_altitude'],"above sea level" )

Morske Oko is perfect for camping at 1500m above sea level

## Dictionary

1. Dictionary for students (name and index number)

In [40]:
Student1 = {
    'name' : 'Pinky Gilani',
    'index_number' : '20205'
}

In [41]:
print("My name is", Student1['name'],Student1['index_number'])

My name is Pinky Gilani 20205

## Class

2. Class for Students

In [1]:
class student:
    def __init__(self, name, index_number):
        self.name = name
        self.index_number = index_number

Object for Class

In [2]:
Student1 = student ('remy', '20205')
Student2 = student ('alvaro', '20206')
Student3 = student ('Pinky Blue', '20207')

Print Student

In [5]:
print(Student1.name, Student1.index_number)
print(Student2.name, Student2.index_number)
print(Student2.name, Student2.index_number)

remy 20205
alvaro 20206
alvaro 20206